@{
    ViewBag.Title = "Index";
}
<h2>Visualize tasks/bugs</h2>
<form action="Index" method="post">
<textarea name="data" rows="50" cols="100"></textarea>
<div>
    <button type="submit">View</button>
</div>
</form>
