@model StoryPrinter.Models.TaskViewModel
<div class="task-container">
    <div class="id-container">
        <span class="label">Id</span>
        <span class="value">@Model.Id</span>    
    </div>
    
    <div class="sprint-container">
        <span class="label">Sprint</span>
        <span class="value">@Model.Sprint</span>
    </div>

    <div class="name-container">
        <span class="label">Namn</span>
        <span class="value">@Model.Name</span>
    </div>
    
    <div class="dev-container">
        <span class="label">Dev</span>
    </div>
</div>
